<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container">this is a container</div> 
   this is time <span id="time"></span>
   
</body>
<script>
    console.log("thois is nash");
    // set time out allows us to run the funtion only once 
    // clearTimeout allows us to run the function many times
    function nash(name){
        console.log("this is a bad journey or a good journey "+ name);
    }
    // nash();
    // setTimeout(nash, 5000,"nashrah");
    // setTimeout(nash, 6000,"nashrah","take care");
    // timeout=setTimeout(nash, 6000,"nashrah");
    // console.log(timeout);
    // clearTimipeout(timeout);
    // setInterval(nash, 5000,"nashrah");
    // intervalId=setInterval(nash, 5000,"nashrah");
    // clearInterval(intervalId)
    // function displaytime(){
    //     time=new Date();
    //     console.log(time);
    //     document.getElementById('time').innerHTML=time;
    // }
    // setInterval(displaytime,1000);
    // let newDate=new Date(2020,4,5,23,3,2);
    // console.log(newDate);
    // let year=newDate.getFULLYear();
    // console.log(year);
    // newDate.set
    // getmonth getdate gethours setdate date.now
    //arrow function
    //short cut
    greet=()=>{
        console.log("Good Morning");
    }
    greet();
    setTimeout(()=>{
        console.log("this is short cut for creating finction");
    },3000);
    // let sum =(a,b)=> (a+b);
    //means
    // function sum(a,b){
    //     return a+b;
    // }
    let obj={
        greeting:"good morning",
        names:["nasharh "],
        speak(){
            this.names.forEach((student) => {
                console.log(this.greeting +"hello" +student);
            });
        }
    }
    obj.speak();
    // math
    let m=Math;
    console.log(Math.log10);
    console.log(Math.E);
    console.log(Math.log2);
    console.log(Math.SQRT1_2);
    console.log(Math.SQRT2);
    console.log(Math.PI);
    console.log(Math.LOG2E);
    let a=45.65525;
    let b=233.5;
    console.log("the value of a and b is :",a,b);
    console.log("the value of a and b is :",Math.round(a),Math.round(b));
    console.log("the value of a and b is :",Math.sqrt(64));
    console.log("the value of a and b is :",Math.sin(Math.PI/2));
    console.log("the value of a and b is :",Math.max(12,8,123,87));
    let r=Math.random();
    console.log(r);
    // random number between (a,b) =a+(b-a)*math.random
    let a1=1;
    let b1=100;
    let r1=a1+(b1-a1)*Math.random();
    console.log(Math.round(r1 ));
</script>
</html> -->